<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RentalApp</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">
</head>

<body style="background-size: cover; background-image: url('/img/creamyPage.png')">
<!--<body>-->

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower" style="color: #4e555b">Wypożyczalnia turystyczna</span>
    <span class="site-heading-upper text-primary mb-3">Odpocznij i spełniaj marzenia</span>

</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/warehouseItemList">Wypożyczalnia</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/login">Logowanie</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/register">Rejestracja</a>
                </li>
                <li class="nav-item active px-lg-4">
                    <a class="nav-link text-uppercase text-expanded">Reset Hasła</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="page-section" style="margin-left: 35%; margin-right: 35%">
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <form th:if="${email == null}" action="/resetPassword" method="post">
            <div class="form-group">
                <label class="small mb-1">Email</label>
                <input class="form-control py-4" type="email"
                       placeholder="Enter email address" name="email" required/>
            </div>

            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit">Confirm</button>
            </div>
        </form>


        <form th:unless="${email == null}" action="/resetPassword" method="post">
            <div class="form-group">
                <label class="small mb-1">password</label>
                <input type="hidden" name="email" th:value="${email}"/>
                <input class="form-control py-4" type="password" name="password" minlength="3"
                       maxlength="20" required/>
            </div>

            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
